<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<title>Learning Week 2012</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="{{ url_for( 'assets', path = 'css/bootstrap.css' ) }}" rel="stylesheet">
	<style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
	</style>
	<link href="{{ url_for( 'assets', path = 'css/bootstrap-responsive.css' ) }}" rel="stylesheet">
	<link href="{{ url_for( 'assets', path = 'css/lw.css' ) }}"  rel="stylesheet">

	<script src="{{ url_for( 'assets', path = 'js/jquery.js' ) }}" type="text/javascript" charset="utf-8"></script>
	<script src="{{ url_for( 'assets', path = 'js/bootstrap.js' ) }}" type="text/javascript" charset="utf-8"></script>

	{% block extrahead %}{% endblock %}

</head>

<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand" href="/">Learning Week @ di.unimi.it</a>
				<ul class="nav">
					<li><a href="{{ url_for( 'usr.list' ) }}">Applicazioni utente</a></li>
					<li><a href="{{ url_for( 'misc' ) }}">Miscellanea</a></li>
				</ul>
				<ul class="nav pull-right">
					<li><a href="#" id="shutdown"><i class="icon-off icon-white"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="modal hide" id="shutdown_modal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Arresta e salva</h3>
	  </div>
	  <div class="modal-body">
		
	    <p>Per slavare le modifiche che hai fatto al codice devi arrestare questa applicazione, 
		   il che produrrà un file <code>code.zip</code> al fianco del file <code>lw12.zip</code> 
		   che contiene questa applicazione.</p>

	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Annulla</a>
	    <a href="#" class="btn btn-primary">Arresta</a>
	  </div>
	</div>

	<script type="text/javascript">
		$( "#shutdown" ).click( function() {  $( "#shutdown_modal" ).modal( "show" ); } );
	</script>

	<div class="container">{% block content %}{% endblock %}</div>

</body>
</html>
