{% extends "base.html" %}

{% block content %}

<div class="hero-unit"><h1>Learning Week 2012</h1>

<p style="padding-top: 40px;"><em>Giocare con le mappe di Google</em>,
      per farsi un'idea di cosa vuol davvero dire fare
      <dfn>informatica</dfn>, cioè <strong>manipolare
      automaticamente l'informazione</strong>.</p>


    <p>Questo software vuole fornire lo spunto per capire alcuni
    concetti importanti nell'elaborazione delle informazioni: 
      <ul>
	<li>Informazione e meta-informazione;</li>
	<li>Strumenti per l'elaborazione;</li>
	<li>Elaborazione in rete;</li>
	<li>Programmazione in un linguaggio imperativo
	(Javascript);</li>
	<li>Organizzazione dei dati, con particolare riferimento a
	quelli geografici;</li>
	<li>Algoritmi su dati organizzati a grafo;</li>
	<li>La sicurezza delle informazioni e delle elaborazioni.</li>
      </ul>

    </p>

	<p>Il software è distribuito con licenza <a
	href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a>, i sorgenti sono disponibili su <a href="https://github.com/Aladdin-Unimi/Learning-Week-2012-Software">GitHub</a>.</p>

	<p style="font-size: x-small;">Il software è stato scritto in <a
	href="http://www.python.org">Python</a> e <a
	href="http://www.ecmascript.org/">ECMAscript</a> da <a
	href="http://santini.di.unimi.it/">Massimo Santini</a> e fa uso di <a
	href="https://github.com/mitsuhiko/flask">Flask</a> <a
	href="https://github.com/mitsuhiko/jinja2">Jinja2</a>, <a
	href="https://github.com/mitsuhiko/werkzeug">Werkzeug</a>, <a
	href="http://pyyaml.org/">PyYAML</a>, <a href="http://jquery.org">JQuery</a>,
	<a href="http://blog.nihilogic.dk">Javascript EXIF Reader</a>, <a
	href="http://www.eslinstructor.net/vkbeautify/">vkBeautify</a>, e <a
	href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
	

</div>

{% endblock %}