{% extends "base.html" %}
{% block content %}

	<div class="well">
		<button id="save" class="btn btn-primary">Salva le modifiche</button>
		<button id="load" class="btn btn-danger">Annulla le modifiche</button>
	</div>
	<div id="editor" style="border: 1pt solid black;"></div>

	<script src="/assets/js/ace/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="/assets/js/ace/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		var path = "{{ path }}";
		var editor = ace.edit( "editor" );
		var session = editor.getSession();
		editor.setShowPrintMargin( false );
		var JavaScriptMode = require( "ace/mode/javascript" ).Mode;
		session.setMode( new JavaScriptMode() );
		function load() { $.get( '/code/load/' + path, function( data ) { session.setValue( data ); } ); };
		$( "#load" ).click( load );
		$( "#save" ).click(  function() { $.post( '/code/save/' + path, { content: session.getValue() } ); } );
		load();
	</script>

{% endblock %}