{% extends "base.html" %}

{% block extrahead %}
	{% for lib in app.lib %}
		<script src="{{ url_for( 'assets', path = 'js/' + lib ) }}"></script>
	{% endfor %}
	{% for code in app.code %}
		<script src="{{ url_for( 'usr.serve', path = code ) }}"></script>
	{% endfor %}
	{% if 'map' in app.output %}
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script src="{{ url_for( 'assets', path = 'js/gmaps.js' ) }}"></script>
	{% endif %}
	{% if 'chart' in app.output %}
		<script src="http://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22visualization%22%2C%22version%22%3A%221%22%2C%22packages%22%3A%5B%22linechart%22%5D%7D%5D%7D"></script>
	{% endif %}
{% endblock %}

{% block readyjs %}
	$( "#run" ).click( _run );
	{% if app.input %}
		$( 'input' )[ 0 ].focus();
	{% endif %}
{% endblock %} 

{% block content %}
	
	{{ header( 'Esegui l\'applicazione', app.name ) }}
	
	{% if app.input %}
	<h1 style="margin-bottom: 20px;">Input</h1>
	<form class="well form-horizontal" method="post" action="#" onsubmit="return false;" >
		<fieldset id="input">
			{% for input in app.input %}
			<div class="control-group">
				<label class="control-label" for="{{input.name}}">{{input.desc}}</label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="{{input.name}}" data-type="{{input.type}}">
					{% if input.hint %}<p class="help-block">{{input.hint}}</p>{% endif %}
				</div>
			</div>
			{% endfor %}
		</fieldset>
	</form>
	{% endif %}
	
	<div class="well"> <!-- style="text-align: right;" -->
		<button id="run" class="btn btn-success"><i class="icon-play icon-white"></i> Esegui l'applicazione</button>
	</div>
	
	{% if 'text' in app.output %}
		<h1 style="margin-bottom: 20px;">Output</h1>
		<div class="well" id="output"></div>
	{% endif %}
	
	{% if 'chart' in app.output %}
		<h1 style="margin-bottom: 20px;">Grafico</h1>
		<div id="chart" class="well" style="height: 400px;"></div>
	{% endif %}

	{% if 'map' in app.output %}
		<h1 style="margin-bottom: 20px;">Mappa</h1>
		<div id="map" class="well" style="height: 400px;"></div>
		<script>_init_map();</script>
	{% endif %}
	
{% endblock %}

<!--
Copyright (C) 2012 Massimo Santini <massimo.santini@unimi.it>

This file is part of Learning-Week-2012-Software.

Learning-Week-2012-Software is free software: you can redistribute it and/or
modify it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Learning-Week-2012-Software is distributed in the hope that it will be
useful, but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the GNU General
Public License for more details.

You should have received a copy of the GNU General Public License along with
Learning-Week-2012-Software If not, see <http://www.gnu.org/licenses/>.
-->
